 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

        *{margin:0; padding:0; box-sizing: border-box;
        font-family: "Noto Sans KR", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        }
        a{color:inherit; text-decoration: none;}
        ul,ol{list-style: none;}
        header{width:100%; height:120px; border:1px solid #efefef;}
        .top{width:1290px; height:120px;
        margin:0 auto; display: flex;}
        .logo{width:132px; height:120px;
        background: url('../images/1.png') no-repeat 0 47px;
        }
        .menu{width:1158px;height:120px;  }
        .sub_menu{width:1158px; height:40px;  }
        .sub_menu ul{display: flex; justify-content: flex-end;
             position:relative; top:20px;
        }
        .sub_menu li{ border-right:1px solid #eee;
            text-align: center; padding:0 20px;
            font-size: 12px; color:#8a8d8f; font-weight:400;
        }
        #sub_menu_li{padding-right: 0;  border-right:0;  }
        nav{width:1158px; height:80px;  }
        nav ul{ display: flex; justify-content: flex-end; }
        nav li{ padding:25px 0 26px 0; text-align: center; margin:0 40px;
            font-size: 19px; color:#1d1d1d; font-weight:500;
            }
        nav li:hover{border-bottom:5px solid #718929; color:#718929;
        font-weight: 700;
        }
        #nav_li{margin-right:0;}
        #banner{width:100%; height:320px;
        background: url('../images/2.jpg'); }
        section{width:1000px; margin:0 auto; padding-bottom: 30px;}
        .nav_history{margin-top:25px;}
        .nav_history ul{display: flex; justify-content: flex-end;}
        .nav_history li{ padding:0 5px; font-size: 12px;
        font-weight: 500; color:#777; }
        .title{font-size: 40px; font-weight: 600; color:#333;
        margin-bottom:25px;
        }
        .search{display: flex; justify-content: flex-end; margin-bottom: 20px;}
        .search select{width:88px; height:30px;
        border:1px solid #dcdcdc; font-size:13px;
        vertical-align: middle; color:#666;}
        .search input{width:288px; height:30px;
            color:#666; font-size: 13px;
        border:1px solid #dcdcdc; background: white;
        padding:0 0 0 1%; }
        .search button{width:60px; height:30px; background: #777;
        border:1px solid #6f6f6f; color:white; font-weight: 600;
        cursor: pointer;
        margin-left:3px;
    }
    .cont table{width: 1000px; text-align: center; vertical-align: middle;
    border-top: 2px solid #424242; border-bottom: 2px solid #424242;
    }
    .cont th,td{border-bottom: 1px solid #e3e3e3;}
    .cont th{height: 48px;}
    .cont td{height: 45px;}
    .page{width: 1000px; height: 30px; margin: 30px 0 ;}
    footer{ background: #1d1d1d; width: 100%; height: 265px; margin: 45px 0 0 0 ;}